{% extends "parking_request/base.html" %}
{% block content %}
    {% for parking_request in parking_requests %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ parking_request.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-parking-requests' parking_request.author.username %}">{{ parking_request.author }}</a>
              <small class="text-muted">{{ parking_request.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'parking-request-detail' parking_request.id %}">{{ parking_request.title }}</a></h2>
            <p class="article-content">Location: {{ parking_request.location }}</p>
            <p class="article-content">From: {{ parking_request.date_from|date:"d. F Y , H:m" }}</p>
            <p class="article-content">To: {{ parking_request.date_to|date:"d. F Y , H:m" }}</p>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
